DATABASE_PASSWORD=""

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=""

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=""

# Redis connection URL (used for caching and real-time features)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

NODE_ENV=

# Auth Secret
BETTER_AUTH_SECRET=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Auth Secret
AUTH_SECRET=

# Url
NEXTAUTH_URL=http://localhost:3000